* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #091924;
}

.clock {
    width: 250px;
    height: 250px;
    border: 3px solid #fffdff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #fffdff;
    background-image: url(https://res.cloudinary.com/shihabyaqob/image/upload/v1593213055/Analog_Clock_lrmm9y.png);
    background-size: cover;
    box-shadow: 5px 5px 10px #040a0e, -5px -5px 10px #0e283a;
}

.clock::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: rgb(18, 124, 223);
    border-radius: 50%;
}

.hour,
.min,
.sec {
    position: absolute;
    display: flex;
    justify-content: center;
    position: absolute;
}

.hour {
    width: 120px;
    height: 120px;
}

.min {
    width: 160px;
    height: 160px;
}

.sec {
    width: 230px;
    height: 230px;
}

.hour::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 50%;
    background-color: #fa135d;
}

.min::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 50%;
    border-radius: 20%;
    background-color: #858486;
}

.sec::before {
    content: "";
    position: absolute;
    top: 20px;
    width: 2px;
    height: 50%;
    background-color: rgb(18, 124, 223);
}

#digital-clock {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    font-size: 2rem;
    color: #fff;
}